* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(211, 209, 209);
    margin: 0;
}
section{
    display: flex;
    justify-content: center;
    width: auto;
}
.header {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px;
    }
.contenedor {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 10px;
    margin-bottom: 5px;
    padding: 20px;
    
}
.contenedor-header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 0;
    margin-bottom: 10px;
   }
.contenedor-body {
    width: 500;
    display: flex;
    justify-content: center;
    
   }
.contenedor-footer{
    width: 100%;
    height: auto;
    padding-top: 10px;
    border-top: 1px solid #eee;
   
}